<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
 {{>links}}

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  {{>navbar}}

    <!--Main     Header   -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-12 col-12 main_reader-left">
            <div class="row">
                                <!--left side div-->
                                <div class="col-md-12 col-12 main_header_left align-items-center">
                                  <img src="images/404.jpg" alt="" class="img-thumbnail">
                                
                     <p>Welcome to Weather</p>
                    <h1>{{ errorMsg}}</h1> 
                    <a href="/" ><button>Go Back<button</a>
 </div>
                </div>
                <!--Right side div-->
                
              </div>
        </div>
    </div>
    </div>
      <!--Footer    code--> 
                {{>footer}}         
     

</head>
<body>
  
