<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
 {{>links}}

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  {{>navbar}}

    <!--Main     Header   -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-12 col-12 main_reader-left">
            <div class="row">
                                <!--left side div-->
                                <div class="col-md-6 col-12 main_header_right align-items-center">
                                  <img src="images/sp1.jpg" alt="" class="img-thumbnail">
                
                
                               </div>

                <div class="col-md-6 col-12 main_header_left">
                    <p>Welcome to Me</p>
                    <h1>I Am A <span class="text-clr"> Software Engineer</span> Entheustic And A Learner developer </h1> 
                    <a href="https://www.linkedin.com/in/satya-prakash-771829130/" target="_sp"><button>About Me<button</a>

                </div>
                <!--Right side div-->
                
              </div>
        </div>
    </div>
    </div>
      <!--Footer    code--> 
               {{>footer}}         
      

</head>
<body>
  
